/* Table of Contents

    0. Reset
    1. Helpers
    2. Layout
        1. Header
        2. Main Content
        3. Footer
        4. Homepage
        5. Memories
        6. Songs
        7. Contact Us
    3. Components
        1. Headings
        2. Links
        3. Buttons
        4. Quotes
        5. Alert Messages
        6. Videos
        7. Translation Links
        8. Skip to Main Content
        9. Main Navigation
        10. Forms
        11. Gallery
*/

/* 0. Reset */
* {
    box-sizing: border-box;
}

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figure, figcaption, footer, header,
menu, nav, output, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}

body {
	font-size: 1.2em;
	line-height: 1.6;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: disc;
}

ol, ul {
	padding-left: 2em;
}

li {
    padding-bottom: .5em;
    line-height: 1.3em;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

blockquote, p {
    margin: 0 0 1em;
}

button {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

em {
	font-style: italic;
}

strong {
    font-weight: bold;
}

textarea {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

small {
    display: inline-block;
    font-size: 0.8em;
    line-height: 1.4;
}



/* 1. Helpers */
.hidden-visually {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}
  
.hidden-all {
    display: none;
}

.gods_story_heading_hack {
    display: block;
}

@media screen and (min-width: 500px) {
    .gods_story_heading_hack {
        display: none;
    }
}



/* 2. Layout */

/* 2.1 Header */
body > header img {
    width: 100%;
}

@media screen and (min-width: 1210px) {
    body > header {
        height: 345px;
        overflow: hidden;
        position: relative;
    }

    body > header img {
        position: absolute;
        bottom: 0;
    }
}

@media screen and (min-width: 1500px) {
    body > header {
        height: 400px;
    }
}

@media screen and (min-width: 1850px) {
    body > header {
        height: 450px;
    }
}

@media screen and (min-width: 2300px) {
    body > header {
        height: 500px;
    }
}

/* 2.2 Main Content */
main {
    min-height: 60vh;
    max-width: 55em;
    margin-inline: auto;
    margin-block-start: 2em;
    padding-inline: 1em;
}

main.wide {
    max-width: 70em;
}

@media screen and (min-width: 400px) {
    main {
        padding-inline: 1.5em;
    }
}

@media screen and (min-width: 600px) {
    main {
        padding-inline: 2em;
    }
}

/* 2.3 Footer */
body > footer {
    background: #111;
    color: #f3f3f3;
    margin-block-start: 3em;
}

body > footer a,
body > footer a:hover,
body > footer a:focus {
    color: #f3f3f3;
}

.footer-layout {
    max-width: 55em;
    margin-inline: auto;
    padding: 2em;
}

.footer-links {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block: 3em 1em;
    text-align: center;
}

.copyright-information {
    text-align: center;
    margin-block-end: 0;
    padding-block-end: 2em;
}

@media screen and (min-width: 850px) {
    .footer-layout {
        display: flex;
    }

    .footer-layout .verse {
        flex: 0 1 80%;
    }

    .footer-links {
        flex: 1 0 20%;
        margin-block-start: 0;
        text-align: right;
    }
}

/* 2.4 Homepage */
.homepage-layout article,
.homepage-layout aside {
    margin-block-end: 3em;
}

.homepage-content header h2 {
    display: inline-block;
}

.homepage-content header .translation-link {
    margin-inline-start: 0.5em;
    vertical-align: super;
}

@media screen and (min-width: 1200px) {
    .homepage-layout {
        display: flex;
        column-gap: 1.5em;
        justify-content: space-between;
    }

    .homepage-content {
        flex: 0 1 auto;
    }

    .homepage-sidebar {
        flex: 0 0 285px;
    }
}

.homepage-video-layout .layout-cell {
    margin-block-end: 1em;
}

@media screen and (min-width: 650px) {
    .homepage-video-layout {
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
    }

    .homepage-video-layout .layout-cell {
        flex: 0 1 48%;
        margin-block-end: 0;
    }
}

@media screen and (min-width: 960px) {
    .homepage-video-layout .layout-cell {
        flex: 0 1 30%;
    }
}

@media screen and (min-width: 1200px) {
    .homepage-video-layout {
        display: block;
    }

    .homepage-video-layout .layout-cell {
        margin-block-end: 1em;
    }
}

.homepage-picture {
    display: block;
    text-align: center;
    padding-block: 0.75em;
}

.homepage-picture img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 650px) {
    .homepage-picture:not(.wide) {
        padding-block: 0 0.75em;
    }

    .homepage-picture.right:not(.wide) {
        float: right;
        padding-inline-start: 1em;
    }

    .homepage-picture.left:not(.wide) {
        float: left;
        padding-inline-end: 1em;
    }
}

@media screen and (min-width: 800px) {
    .homepage-picture.wide {
        padding-block: 0 0.75em;
    }

    .homepage-picture.right.wide {
        float: right;
        padding-inline-start: 1em;
    }

    .homepage-picture.left.wide {
        float: left;
        padding-inline-end: 1em;
    }
}

.homepage-tract-layout {
    display: flex;
}

.tract-links {
    padding-inline-start: 0.5em;
}

/* 2.5 Memories */
.memories-list {
    padding-block-start: 2em;
}

@media screen and (min-width: 750px) {
    .memories-layout {
        display: flex;
        gap: 2em;
    }

    .memories-list {
        flex: 0 1 60%;
        padding-block-start: 3em;
    }

    .memory-form {
        flex: 1 0 300px;
    }
}

/* 2.6 Songs */
.songs-layout article {
    margin-block-start: 3em;
}

@media screen and (min-width: 990px) {
    .songs-layout {
        display: flex;
        justify-content: space-between;
    }

    .songs-layout article {
        flex: 0 0 auto;
    }
}

/* 2.7 Contact Us */
.email-form,
.order-form {
    margin-top: 3em;
}

.quantity-description {
    margin-inline-start: 0.5em;
    margin-block: -0.25em 0;
}

@media screen and (min-width: 850px) {
    .contact-layout {
        display: flex;
        justify-content: space-between;
    }

    .email-form {
        flex: 0 1 45%;
    }

    .order-form {
        flex: 0 1 45%;
    }
}



/* 3. Components */

/* 3.1 Headings */
h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
    font-weight: 400;
}

@media screen and (min-width: 610px) {
    h2 {
        font-size: 2.1em;
    }
}

/* 3.2 Links */
a {
    color: #0044dd;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #0000aa;
    text-decoration: underline;
}

/* 3.3 Buttons */
.button {
    font-size: 1.1em;
    padding: 0.75em 3em;
    border-radius: 5px;
    border: none;
    outline: 2px solid #888;
    line-height: 1;
}

.button-success {
    background: #28a745;
    outline: none;
    color: #fff;
}

.button-success:hover {
    background: #218838;
}

/* 3.4 Quotes */
blockquote cite {
    display: block;
    text-align: right;
}

/* 3.5 Alert Messages */
.message {
    border-radius: 7px;
    padding: 0.75em 1.5em;
    margin-block-end: 1em;
    text-align: center;
}

.message.warning {
    background-color: #ffd500;
}

/* 3.6 Videos */
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 3.7 Translation Links */
.translation-link {
    font-size: 0.6em;
    background-color: #000000;
    color: white;
    border-radius: 7px;
    white-space: nowrap;
    padding: 0.5em 0.75em;
}

.translation-link:hover,
.translation-link:focus {
    color: white;
}

@media screen and (min-width: 768px) {
    .translation-link {
        font-size: 0.75em;
    }
}

/* 3.8 Skip to Main Content */
#main-content {
    position: relative;
    top: -4.5em;
}
  
a[href="#main-content"] {
    z-index: 999;
    position: fixed;
    top: -100px;
    padding: 0.5em 1em 0.75em;
    left: 30px;
    border-radius: 0px 0px 10px 10px;
    background-color: #fff;
    color: #000;
    border: 3px solid #000;
}
  
a[href="#main-content"]:focus, a[href="#main-content"]:active {
    top: -3px;
    text-decoration: underline;
    outline: none;
}

/* 3.9 Main Navigation */
nav.main-menu {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    height: 2.5em;
    font-size: 1.3em;
    background-color: #111;
    box-shadow: 0 0em 3em rgb(0 0 0 / 60%);
}
  
nav.main-menu ul.collapsed {
    display: none;
}
  
nav.main-menu ul {
    list-style-type: none;
}
  
nav.main-menu a.brand {
    align-self: center;
    color: #f3f3f3;
    width: 8em;
    margin-left: 1em;
}

nav.main-menu a.brand img {
    width: 100%;
}
  
nav.main-menu button {
    background-color: #111;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(250, 250, 250, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    cursor: pointer;
    font-size: inherit;
    width: 3em;
    height: 2em;
    align-self: center;
}
  
nav.main-menu ul {
    position: absolute;
    top: 2.5em;
    left: 0;
    width: 100%;
    background-color: #111;
    box-shadow: 0 0em 3em rgb(0 0 0 / 60%);
    padding: 10px 0px 0px;
}
  
nav.main-menu ul li {
    padding: 0;
}
  
nav.main-menu ul li a {
    display: block;
    padding: 15px 0px;
    text-align: center;
    color: #f3f3f3;
}
  
nav.main-menu ul li a:hover {
    background-color: #333;
    text-decoration: none;
}
  
nav.main-menu ul li a:active {
    background-color: #333;
    text-decoration: none;
}
  
@media screen and (min-width: 875px) {
    nav.main-menu a.brand {
        width: 17em;
    }
  
    nav.main-menu {
        font-size: 1.1em;
        height: 4em;
    }
  
    nav.main-menu button {
        display: none;
    }
  
    nav.main-menu ul.collapsed {
        display: inline-block;
    }
  
    nav.main-menu ul {
        position: relative;
        top: 0;
        margin: 0;
        padding: 0;
        box-shadow: none;
        text-align: right;
    }
  
    nav.main-menu ul li {
        display: inline-block;
        height: 100%;
    }
  
    nav.main-menu ul li a {
        display: inline-block;
        height: 100%;
        padding: 1.2em 10px;
    }
  
    nav.main-menu ul li a:focus {
        background-color: #333;
    }
  
    nav.main-menu ul li a:hover {
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        background-color: #333;
    }
  
    nav.main-menu ul li a:active {
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        background-color: #333;
    }
}
  
@media screen and (min-width: 1000px) {
    nav.main-menu {
        font-size: 1.2em;
    }
  
    nav.main-menu ul li a {
        padding: 1.2em 15px;
    }
}

/* 3.10 Forms */
form input[type="text"],
form input[type="email"],
form input[type="number"],
form textarea {
    width: 100%;
    padding: 0.5em 0.75em;
    border-radius: 5px;
    border: 1px solid darkgray;
    font-size: 1rem;
}

form textarea {
    font-size: 1rem;
    margin-block-end: -0.4em;
}

.radio-container.inline input[type="radio"]:not(:first-of-type) {
    margin-inline-start: 0.5em;
}

form label {
    margin-block-end: 0;
}

form label:not(.radio-container label) {
    display: block;
}

form label:not(:first-of-type):not(.radio-container label),
form button {
    margin-block-start: 0.75em;
}

span.required {
  color: #ae1313;
  font-size: 0.8em;
  margin-left: 8px;
  vertical-align: bottom;
}

span.optional {
  color: #4040ce;
  font-size: 0.8em;
  margin-left: 8px;
  vertical-align: bottom;
}

.error {
  border: 1px solid #ae1313 !important;
}

.error-message {
  color: #ae1313;
  font-size: 0.8em;
  font-style: italic;
  margin-left: 10px;
}

/* 3.11 Gallery */
.thumbnail {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0.25em;
    width: 100%;
    margin-block-end: 0.25em;
}

@media screen and (min-width: 350px) {
    .pictures-layout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.25em;
    }

    .thumbnail {
        margin-block-end: 0;
    }
}

@media screen and (min-width: 750px) {
    .pictures-layout {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    .pictures-layout {
        grid-template-columns: repeat(4, 1fr);
    }
}

.thumbnail img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

#image-modal .modal__content {
    background: no-repeat center url('images/loader.svg');
    min-width: 200px;
    min-height: 300px;
}

#image-modal .modal__content img {
    max-width: 100%;
    height: auto;
}
